{% extends 'pages/base.html.twig' %}

{% block title %}見学予約 | {{ parent() }}{% endblock %}
{% block meta_og_title %}見学予約 | {{ parent() }}{% endblock %}
{% block meta_twitter_title %}見学予約 | {{ parent() }}{% endblock %}
{% block meta_description %}見学予約 | {{ parent() }}{% endblock %}
{% block meta_og_description %}見学予約 | {{ parent() }}{% endblock %}

{% block body %}
<div class="breadcrumb">
  <a class="breadcrumb-item" href="{{ path('top') }}">
    TOP
  </a>
  <a class="breadcrumb-item" href="{{ path('visit-reservation_index')}}">
    見学予約
  </a>
</div>

{% if not retry %}

  {# ページコンテンツここに #}

{% else %}

  {{ form_errors(form) }}

{% endif %}

{% include "pages/visit-reservation/_form.html.twig" %}
{% endblock %}