{# form.html.twig #}
{% extends "admin/base.html.twig" %}

{% block body %}
<h1>TOPICS Add</h1>

{{ form_start(form, {
  attr: {
    id: "input-form",
    class: "l_form"
  }
}) }}
  <div class="l_form__row l_form__row--3box">
    {{ form_row(form.title) }}
    {{ form_row(form.postAt) }}
      {{ form_row(form.draft, {
        row_attr: {
          class: "align-self-center"
        }
    }) }}
  </div>
  <div class="l_form__row l_form__row--full">
    {{ form_row(form.url) }}
  </div>

  {% include "admin/include/_formBtn.html.twig" with {
    returnPage: path('admin_topics_index'),
    isCreate: isCreate,
    addDeleteBtn: not isCreate,
    deletePage: not isCreate ? path('admin_topics_delete', {id: form.vars.value.id}): "",
    deleteConfirmMessage: "削除しますか？",
    csrfToken: csrf_token("admin_topics_delete_"~form.vars.value.id)
  } %}

{{ form_end(form) }}
{% endblock %}