{# index.html.twig #}
{% extends "admin/base.html.twig" %}

{% block body %}
<h1>TOPICS Index</h1>

<table class="l_table table">
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>URL</th>
      <th class="l_table__btn-col">編集</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
    <tr>
      <td>{{ post.postAt|date('Y.m.d') }}</td>
      <td>{{ post.title }}</td>
      <td>
        <a
          href="{{ post.url }}"
          rel="noreferrer noopenner"
          target="_blank"
          >
          {{ post.url|strim_width(24) }}
        </a>
      </td>
      <td>
        <a href="{{ path('admin_topics_edit', {id: post.id}) }}" class="btn btn-info">
          編集
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}